li{
    display:inline;
    padding:10px;
    margin:30px;
   
}
img{
    width:200px;
    height: 200px;
  border-radius:100%;
  object-fit: cover;
  bottom: 56.5%;
  right:40%;
  position: absolute;
  left: 48.75%;



 
}
button{
    border-radius: 5px;
}
.first-half{
    color: blueviolet;
}
.pic{
    width: 40px;
    height: 40px;
    border: 1px solid burlywood;
    padding: 110px;
    border-radius: 100%;
  

   
        
}

.container{
    display: flex;
    
    

}


div3{
    text-align: center;
}
